@import "bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
}

body{
    background-color: gray;
}


.card {
    position: relative;
}
.card-body{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .2s;
}

.card:hover{
    .card-body{
    opacity: 85%;
    color: #fff;
    background: #000;
    overflow: hidden;
    }
}

